img#image{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:100%;
}
.img-desc {
	position: relative;
	display: block;
	/*height:335px;*/
	width: 100%;
	z-index:2;
}
.img-desc cite {
	background: #111;
	filter:alpha(opacity=75);
	opacity:.75;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 3px;
	border-top: 1px solid #999;
}
.img-desc2 cite {
	background: #111;
	filter:alpha(opacity=75);
	opacity:.75;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 3px;
	border-top: 1px solid #999;
}
