.moreBut {
	color: white;
	font: bold 30px / 32px Helvetica,Sans - Serif;
	letter-spacing: -1px;
	/*background: rgba(28, 52, 86, 0.7);*/
	background: rgba(0, 0, 0, 0.7);
	padding: 1px;
	-webkit-transition: -webkit-transform .5s ease-out;
}
.moreBut.left{
	background: url(../images/toolba/leftarrow32.png) center center no-repeat;
	background-size: 100%;
	/*width:100px;
	height:50px;*/
}
.moreBut.right{
	background: url(../images/toolba/arrowright32.png) center center no-repeat;
	background-size: 100%;
	/*width:100px;
	height:50px;*/
}
h3.header{
	position: relative;
	top: -23px;
	z-index:1000;
	width: 100%;
	color: white;
	font: bold 24px / 24px Helvetica,Sans - Serif;
	letter-spacing: -1px;
	/*background: rgba(28, 52, 86, 0.7);*/
	background: rgba(0, 0, 0, 0.75);
	padding: 1px;
}
.done{
	background: rgba(0, 0, 0, 0.0);
}
#overlayBack{
	position: fixed;
	top: 95%;
	left:2%;
	z-index: 50;
}

/*
<div id="overlayBack" class="backBut hide">
		<span class="moreBut left" id="backButton">back</span>
</div>
*/

