.moreBut {
	color: white;
	font: bold 30px / 32px Helvetica,Sans - Serif;
	letter-spacing: -1px;
	/*background: rgba(28, 52, 86, 0.7);*/
	background: rgba(0, 0, 0, 1);
	padding: 1px;
	-webkit-transition: -webkit-transform .5s ease-out;
}
.moreBut.left{
	background: url(../images/br_backW.png) center center no-repeat;
	background-color: rgba(0,0,0,0.75);
	-webkit-border-radius: 10pt;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	height:50px;
	width:70px;
}
h3.header{
	position: relative;
	top: -23px;
	z-index:1000;
	width: 100%;
	color: white;
	font: bold 24px / 24px Helvetica,Sans - Serif;
	letter-spacing: -1px;
	/*background: rgba(28, 52, 86, 0.7);*/
	background: rgba(0, 0, 0, 0.85);
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 1px;
}
.done{
	background: rgba(0, 0, 0, 0.0);
}
#overlayBack{
	position: fixed;
	top:90%;
	left:2%;
	z-index: 50;
}
.img#backButton{
	z-index: 100;
}

/*
<div id="overlayBack" class="moreBut left">
	<img id="backButton" src="/images/SignArrowLeft.png" alt="">
</div>
*/

